# Data Analysis Test

Use file `./ref/crop_data.csv` for input

Use `pandas` lib

Write your code and display readable result

In [1]:
import pandas as pd

In [2]:
# read csv file

df = pd.read_csv("./ref/crop_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   crop_year         11914 non-null  object
 1   year              11914 non-null  int64
 2   product           11914 non-null  object
 3   province          11914 non-null  object
 4   area_plant_rai    11769 non-null  float64
 5   area_harvest_rai  11728 non-null  float64
 6   production_ton    11692 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 651.7+ KB

### Example Question

How many "ยางพารา" produced in whole country ("ทั้งประเทศ")

In [3]:
# How many "ยางพารา" produced in whole country ("ทั้งประเทศ")
new_df = df.loc[
    (df["product"] == "ยางพารา" ) &
    (df["province"] == "ทั้งประเทศ") 
]
sum(new_df["production_ton"])

47686839.0

### Question 1

How many "ข้าวนาปี" produced in "ยะลา" between year 2550 - 2553

In [13]:
# Write you code and display question 1 result here.
filtered_df = df[(df['product'] == 'ข้าวนาปี') & (df['province'] == 'ยะลา') & (df['year'] >= 2550) & (df['year'] <= 2553)]
sum(filtered_df['production_ton'])

87707.0

### Question 2

Calculate harvest rate of "ข้าวนาปี" in whole country

_harvest rate = area_harvest_rai / area_plant_rai_

In [17]:
# Write you code and display question 2 result here.
# replace with your code
filtered_df = df[(df['product'] == 'ข้าวนาปี') & (df['province'] == 'ทั้งประเทศ')]

area_harvest_rai = sum(filtered_df['area_harvest_rai'])
area_plant_rai = sum(filtered_df['area_plant_rai'])
harvest_rate = area_harvest_rai / area_plant_rai

print('area_harvest_rai', area_harvest_rai)
print('area_plant_rai', area_plant_rai)
print('harvest_rate', harvest_rate)

area_harvest_rai 730340255.0
area_plant_rai 783456906.0
harvest_rate 0.9322022046225986

### Question 3

Calculate total profit of "ข้าวโพดฝักอ่อน" produced in "ภาคเหนือ" from year 2555 to 2562
- profit rate in year 2555 - year 2559 is 50% (selling price is 50THB/kg.)
- profit rate in year 2560 - year 2562 is 30% (selling price is 120THB/kg.)
- assume all product was sold out every year.

In [33]:
# Write you code and display question 3 result here.

filtered_df = df[(df['product'] == 'ข้าวโพดฝักอ่อน') & (df['province'] == 'ภาคเหนือ') & (df['year'] >= 2555) & (df['year'] <= 2562)]

filtered_df['income'] = filtered_df.apply(lambda x: x['production_ton'] * 1000 * 50 if x['year'] < 2560 else x['production_ton'] * 1000 * 1200, axis=1)
filtered_df['profit_thb'] = filtered_df.apply(lambda x: x['income'] * 0.5 if x['year'] < 2560 else x['income'] * 0.3, axis=1)

total_profit = sum(filtered_df['profit_thb'])

print(total_profit)

25629875000.0

/var/folders/47/4s8ghw3d04n2vwshvyhmzqqc0000gn/T/ipykernel_32464/1263971197.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['income'] = filtered_df.apply(lambda x: x['production_ton'] * 1000 * 50 if x['year'] < 2560 else x['production_ton'] * 1000 * 1200, axis=1)
/var/folders/47/4s8ghw3d04n2vwshvyhmzqqc0000gn/T/ipykernel_32464/1263971197.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['profit_thb'] = filtered_df.apply(lambda x: x['income'] * 0.5 if x['year'] < 2560 else x['income'] * 0.3, axis=1)

### Question 4

Form question 3, display the dataframe with 'year', 'production_ton', 'income', 'profit_thb' column

In [34]:
# Write you code and display question 4 result here.
filtered_df[['year','production_ton','income','profit_thb']]

       year  production_ton        income    profit_thb
11690  2555         24741.0  1.237050e+09  6.185250e+08
11691  2556         25371.0  1.268550e+09  6.342750e+08
11692  2557         21788.0  1.089400e+09  5.447000e+08
11693  2558         20499.0  1.024950e+09  5.124750e+08
11694  2559         19332.0  9.666000e+08  4.833000e+08
11695  2560         21329.0  2.559480e+10  7.678440e+09
11696  2561         21757.0  2.610840e+10  7.832520e+09
11697  2562         20349.0  2.441880e+10  7.325640e+09

### Question 5

We plan to invest in growing soybeans (ถั่วเหลือง) which province should we invest.

We looking for
- high protential area (high havest_rate)
- we want market share only 20% but production_ton should be more than 2000 in the past (2550 - 2562)

In [55]:

# Write you code and display question 5 result here.

# Calculate harvest_rate

filter_province_val = ['ทั้งประเทศ','ภาคเหนือ','ภาคกลาง','ภาคตะวันออกเฉียงเหนือ','ภาคใต้','ภาคตะวันตก']

filtered_df = df[(~df['province'].isin(filter_province_val)) & (df['product'] == 'ถั่วเหลือง')]
# filtered_df['havest_rate'] = filtered_df.apply(lambda x: x['area_harvest_rai']/x['area_plant_rai'], axis=1)
# Filter
pivot_df = filtered_df.groupby(['province']).sum()[['area_plant_rai','area_harvest_rai','production_ton']]
filtered_pivot_df = pivot_df[pivot_df['production_ton'] > 2000]

filtered_pivot_df['havest_rate'] = filtered_pivot_df.apply(lambda x: x['area_harvest_rai']/x['area_plant_rai'], axis=1)

filtered_pivot_df.sort_values(['havest_rate'], axis=0, ascending=False)

/var/folders/47/4s8ghw3d04n2vwshvyhmzqqc0000gn/T/ipykernel_32464/1381261124.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_pivot_df['havest_rate'] = filtered_pivot_df.apply(lambda x: x['area_harvest_rai']/x['area_plant_rai'], axis=1)

             area_plant_rai  area_harvest_rai  production_ton  havest_rate
province
แม่ฮ่องสอน         696220.0          690424.0      216298.000     0.991675
แพร่               526436.0          521379.0      124649.000     0.990394
ฉะเชิงเทรา          25039.0           24730.0        8038.000     0.987659
ลำพูน               12285.0           12114.0        3471.967     0.986081
เชียงราย           306223.0          301801.0       68852.000     0.985560
เชียงใหม่          623103.0          612117.0      180564.000     0.982369
เพชรบูรณ์           36034.0           35372.0        8959.000     0.981628
สระแก้ว             92079.0           90330.0       31318.000     0.981005
นครสวรรค์            8232.0            8059.0        2021.000     0.978984
ตาก                299196.0          292663.0       71097.000     0.978165
น่าน               247640.0          241748.0       61758.000     0.976207
อุตรดิตถ์          232580.0          226710.0       54576.000     0.974761
จันทบุรี            13476.0           13088.0        3953.000     0.971208
หนองบัวลำภู        152020.0          147354.0       32071.000     0.969307
ขอนแก่น            392130.0          380054.0       93938.000     0.969204
ลำปาง              218124.0          211305.0       48759.000     0.968738
ชัยภูมิ            396800.0          383438.0       89826.000     0.966326
กาญจนบุรี           15080.0           14427.0        3588.948     0.956698
ปราจีนบุรี           9442.0            9030.0        2889.000     0.956365
สุโขทัย            281706.0          268313.0       76066.000     0.952458
เลย                412607.0          392625.0      103766.000     0.951571
พิษณุโลก           129914.0          123329.0       33654.000     0.949313
อุดรธานี            51209.0           47931.0       10469.000     0.935988
กาฬสินธุ์           17052.0           15864.0        3555.000     0.930331
พะเยา               13389.0           12428.0        3383.992     0.928225
พิจิตร              10386.0            9204.0        2494.000     0.886193
กำแพงเพชร          146923.0          127052.0       35843.000     0.864752